<div style="padding: 15px;width: 400px;">
    <form class="layui-form" action="">
        <input type="hidden" name="cate_id" id="cate_id" value="{$cateInfo.cate_id}">
            <div class="layui-form-item">
                    <label class="layui-form-label">分类名称</label>
                    <div class="layui-input-block">
                    <input type="text" name="cate_name" value="{$cateInfo.cate_name}" required lay-verify="required|checkName" placeholder="请输入分类名称" autocomplete="off" class="layui-input">
                    </div>
            </div>
            <div class="layui-form-item">
                    <label class="layui-form-label">是否展示</label>
                    <div class="layui-input-block">
                    {if condition="$cateInfo.cate_show eq '是'"}
                    <input type="radio" name="cate_show" value="1" title="是" checked>
                    <input type="radio" name="cate_show" value="0" title="否" >
                    {else /}
                    <input type="radio" name="cate_show" value="1" title="是" >
                    <input type="radio" name="cate_show" value="0" title="否" checked>
                    {/if}
                    </div>
            </div>
            <div class="layui-form-item">
                    <label class="layui-form-label">是否在导航栏展示</label>
                    <div class="layui-input-block">
                    {if condition="$cateInfo.cate_navshow eq '是'"}
                    <input type="radio" name="cate_navshow" value="1" title="是" checked>
                    <input type="radio" name="cate_navshow" value="0" title="否" >
                    {else /}
                    <input type="radio" name="cate_navshow" value="1" title="是" >
                    <input type="radio" name="cate_navshow" value="0" title="否" checked>
                    {/if}
                    </div>
            </div>
            <div class="layui-form-item">
                    <label class="layui-form-label">父分类</label>
                    <div class="layui-input-block">
                    <select name="pid">
                            <option value="0">--请选择--</option>
                            {volist name="data" id="v"}
                            {if condition="$cateInfo.pid eq $v.cate_id"}
                            <option value="{$v.cate_id}" selected>{:str_repeat('&nbsp;&nbsp;',$v['level']*3)}{$v.cate_name}</option>
                            {else /}
                            <option value="{$v.cate_id}">{:str_repeat('&nbsp;&nbsp;',$v['level']*3)}{$v.cate_name}</option>
                            {/if}
                            {/volist}
                    </select>
                    </div>
            </div>
            <div class="layui-form-item">
                    <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
            </div>
            </form>
    </div>      
    <script>
        //页面加载
        $(function(){
        layui.use(['form','layer'], function(){
        var form = layui.form;
        var layer=layui.layer;
        //验证名字
        var name_falg;
        form.verify({
            checkName:function(value, item){ //value：表单的值、item：表单的DOM对象
                var cate_id=$("#cate_id").val();
                $.ajax({        //唯一性验证
                        type:'post',
                        url:"{:url('Category/cateUnique')}",
                        data:{cate_name:value,type:2,cate_id:cate_id},
                        async:false,
                }).done(function(res){
                        if(res=="no"){
                                name_falg="分类已存在";
                        }else{
                                name_falg='';
                        }
                });
                //返回错误信息，只能返回
                if(name_falg!=''){
                        return name_falg; 
                }
            }
        });  
    
        //获取表单数据  监听表单提交
        form.on('submit(formDemo)', function(data){
            $.post(
                "{:url('Category/cateUpdateEdit')}",
                data.field,
                function(res){
                    layer.msg(res.font, {icon: res.code,time:2000},function(){
                        location.href="{:url('Category/cateList')}"
                    });
                },'json'
            );
            return false;//阻止提交
        });                  
            });
        });
 </script>