<div style="padding: 15px; width: 700px">
    <style>
        .tdShow{
           cursor: pointer 
        }
    </style>
    <table class="layui-table">
        <thead>
          <tr>
            <th>分类ID</th>
            <th>分类名称</th>
            <th>是否展示</th>
            <th>是否在导航栏展示</th>
            <th>操作</th>
          </tr> 
        </thead>
        <tbody id="show">
        {volist name="data" id="v"}
          <tr style="display:none" pid="{$v.pid}" cate_id="{$v.cate_id}">
            <td>
                {:str_repeat('&nbsp;&nbsp;',$v['level']*3)}
                <a href="javascript:;" class="javes">+</a>
                {$v.cate_id}
            </td>
            <td>
                {:str_repeat('&nbsp;&nbsp;',$v['level']*3)}
                <span class="showInput">{$v.cate_name}</span>
                <input class="change" type="text" style="display:none" column="cate_name" cate_id="{$v.cate_id}" value="{$v.cate_name}">
            </td>
            <td class="tdShow" column="cate_show" >{$v.cate_show}</td>
            <td class="tdShow" column="cate_navshow">{$v.cate_navshow}</td>
            <td>
                <a href="{:url('Category/cateDel')}?cate_id={$v.cate_id}">删除</a>
                <a href="{:url('Category/cateUpdate')}?cate_id={$v.cate_id}">修改</a>
            </td>
          </tr>
        {/volist}
        </tbody>
    </table>
</div>
<script>
    //页面加载
    $(function(){
        layui.use(['layer'], function(){
            var layer=layui.layer;
            //页面加载显示主分类
            $("#show").children("tr[pid=0]").show();
            //给＋号点击事件，做伸缩
            $(document).on('click','.javes',function(){
                var _this=$(this);
                //获取当前点击的值，用于判断
                var content=_this.text();
                //获取当前点击的祖父tr的cate_id
                var cate_id=_this.parents('tr').attr('cate_id');
                //判断+号
                if(content=="+"){
                    //定义父类id于id相同的tr
                    var _children=$("#show").children("tr[pid="+cate_id+"]");
                    //判断长度，如果下面有就继续展示子级
                    if(_children.length>0){
                        _children.show();
                        _this.text("-");
                    }else{
                       layer.msg('没有下一级的分类了',{icon:2})
                    }
                }else{
                    //-号的时候调用trHide函数，把点击获取到的cate_id传过去
                    trHide(cate_id);
                    _this.text("+");
                }
            })
            //递归隐藏伸缩
            function trHide(cate_id){
                //获取所有与点击的祖父级的cate_id相等的父类pid的tr
                var _tr=$("#show").children("tr[pid="+cate_id+"]");
                //each循环 来获取自身的cate_id，并通过递归传值继续查询，直到没有为止
                _tr.each(function(index){
                    var c_id=$(this).attr('cate_id');
                    trHide(c_id);
                })
                //隐藏所有子级
                _tr.hide();
                //把隐藏的子级中的-号改为+号
                _tr.find("a[class='javes']").text('+');
            }
            //即点即改
            //获取点击事件，点击后文本框，隐藏自身
            $(document).on('click','.showInput',function(){
                $(this).hide();
                $(this).next('input').show();
            })
            //文本框失去焦点，获得字段，值，id，ajax传值
            $(document).on('blur','.change',function(){
                var _this=$(this);
                //隐藏自己，把span显示并值发生改变
                _this.hide();
                _this.prev('span').show();
                var column=_this.attr('column');//获取字段
                var cate_id=_this.parents('tr').attr('cate_id');//获取id
                var value=_this.val();//获取修改的值
                $.post(
                    "{:url('Category/cateUpdateFile')}"
                    ,{column:column,cate_id:cate_id,value:value,type:1}
                    ,function(res){
                        layer.msg(res.font,{icon:res.code})
                        if(res.code==1){
                            _this.prev('span').text(value);
                        }
                    },'json'
                );
            })
            //展示即点即改
            $(document).on('click','.tdShow',function(){
                var _this=$(this);
                var value=_this.text();
                var column=_this.attr('column');
                var cate_id=_this.parent().attr('cate_id');
                if(value=="是"){
                    value=0
                }else{
                    value=1
                }
                $.post(
                    "{:url('Category/cateUpdateFile')}"
                    ,{column:column,cate_id:cate_id,value:value}
                    ,function(res){
                       layer.msg(res.font,{icon:res.code})
                       if(res.code==1){
                          if(value==0){
                              _this.text("否");
                          }else{
                              _this.text('是');
                          }
                        }
                    },'json'
                );
            }) 
        })
    })
</script>
