<div style="padding: 15px;">
<form class="layui-form">
        <div class="layui-input-inline">
            <input type="text" id="goods_name"  placeholder="请输入搜索内容" autocomplete="off" class="layui-input">
        </div>
    <div class="layui-input-inline">
        <select id="cate_id">
            <option value="">--请选择--</option>
        {volist name="cateInfo" id="v"}
            <option value="{$v.cate_id}">{:str_repeat('&nbsp;&nbsp;',$v['level']*3)}{$v.cate_name}</option>
        {/volist}
        </select>
    </div>
    <div class="layui-input-inline">
        <select id="brand_name" >
            <option value="">--请选择--</option>
        {volist name="brandInfo" id="v"}
            <option value="{$v.brand_name}">{$v.brand_name}</option>
        {/volist}
        </select>
    </div>
    <div class="layui-input-inline">
        <select id="is_up" >
            <option value="">--请选择--</option>
            <option value="1">上架</option>
            <option value="2">下架</option>
        </select>
    </div>
    <button type="button" class="layui-btn" id="search">
        搜索
    </button>
</form>
<table id="demo" lay-filter="test"></table>
<script id="barDemo" type="text/html">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a> 
</script>
</div>
<script>
    $(function(){
    layui.use(['table','form','layer'], function(){
        var table = layui.table;
        var layer=layui.layer;
        var form=layui.form;
        //列表展示
        table.render({
        elem: '#demo'
        ,url: "{:url('Goods/goodsInfo')}" //数据接口
        ,limit:3 //每页显示的条数
        ,limits:[5,6,7,8,9,10]//选择每页显示的条数
        ,page: true //开启分页
        ,cols: [[ //表头
            {field: 'goods_id', title: '商品ID', sort: true, fixed: 'left'}
            ,{field: 'goods_name', title: '商品名称',edit: 'text'}
            ,{field: 'self_price', title: '本店售价', sort: true,edit: 'text'}
            ,{field: 'goods_num', title: '库存',sort: true,edit:'text'}
            ,{field: 'goods_score', title: '赠送积分', sort: true,edit:'text'}
            ,{field: 'is_up', title: '是否上架', }
            ,{field: 'is_new', title: '新品', }
            ,{field: 'is_best', title: '精品', }
            ,{field: 'is_hot', title: '热卖', }
            ,{field: 'cate_name', title: '分类', }
            ,{field: 'brand_name', title: '品牌', }
            ,{fixed: 'right', title:'操作', toolbar: '#barDemo'}
        ]]
        });
        //删除编辑
        table.on('tool(test)', function(obj){
            var goods_id = obj.data.goods_id;
            //console.log(obj)
            if(obj.event === 'del'){
            layer.confirm('真的删除行么', function(index){
                $.post(
                    "{:url('Goods/goodsDel')}"
                    ,{goods_id:goods_id}
                    ,function(res){
                        console.log(res);
                        if(res.code==1){
                            layer.msg(res.font,{icon:res.code});
                            table.reload('demo');
                        }else{
                            layer.msg(res.font,{icon:res.code})
                       }
                    },'json'
                );
                layer.close(index);
            });//修改
            } else if(obj.event === 'edit'){
                location.href="{:url('Goods/goodsEdit')}?goods_id="+goods_id;
            }
        });
        //搜索
        $("#search").click(function(){
            var goods_name=$("#goods_name").val();//传值
            var cate_id=$("#cate_id").val();//传值
            var brand_name=$("#brand_name").val();//传值
            var is_up=$("#is_up").val();//传值
            table.reload('demo', {
                where: { //设定异步数据接口的额外参数，任意设
                    goods_name:goods_name,
                    cate_id:cate_id,
                    brand_name:brand_name,
                    is_up:is_up
                }
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        })
        //即点即改
        table.on('edit(test)', function(obj){
            var value = obj.value //得到修改后的值
            ,goods_id = obj.data.goods_id //得到所在行所有键值
            ,field = obj.field; //得到字段
            $.post(
                "{:url('Goods/goodsUpdateFile')}"
                ,{value:value,goods_id:goods_id,field:field}
                ,function(res){
                    table.reload('demo',{  
                    });
                    layer.msg(res.font,{icon:res.code});
                },'json'
            )
        });
        }); 
    });
</script>
