<script type="text/javascript" src="__STATIC__/index/js/n_nav.js"></script> 
{include file="public/top" /}
<div class="i_bg">  
  <div class="content mar_20">
    <img src="__STATIC__/index/images/img2.jpg" />        
  </div>
  
  <!--Begin 第二步：确认订单信息 Begin -->
  <div class="content mar_20">
    <div class="two_bg">
        <div class="two_t">
            <span class="fr"><a href="#">修改</a></span>商品列表
          </div>
          <table border="0" class="car_tab" style="width:1110px;" cellspacing="0" cellpadding="0">
            <tr>
              <td class="car_th" width="550">商品名称</td>
              <td class="car_th" width="140">单价</td>
              <td class="car_th" width="150">购买数量</td>
              <td class="car_th" width="130">小计</td>
            </tr>
            {volist name="cartInfo" id="v"}
            {if condition="$key%2==0"}
              {assign name="car_tr" value=""}
            {else /}
              {assign name="car_tr" value="car_tr"}
            {/if}
            <tr class="goods {car_tr}" goods_id="{$v.goods_id}">
              <td>
                  <div class="c_s_img"><img src="__STATIC__/../uploads/goodsLogo/{$v['goods_img']}" width="73" height="73" /></div>
                  {$v['goods_name']}
              </td>
              <td align="center">{$v['self_price']}</td>
              <td align="center">{$v.buy_number}</td>
              <td align="center" style="color:#ff4e00;">￥{$v['self_price']*$v['buy_number']}</td>
            </tr>
            {/volist}
            <tr>
              <td colspan="5" align="right" style="font-family:'Microsoft YaHei';">
                  商品总价：￥{$priceNum}
              </td>
            </tr>
          </table>
          
          <div class="two_t">
            <span class="fr"><a href="#">修改</a></span>收货人信息
          </div>
          <div style="border: 1px solid blanchedalmond; height:130px; overflow: auto; ">
          <br>
          {volist name="addressInfo" id="v"}
          <div>
              <table border="0" class="peo_tab" style="width:1110px;" cellspacing="0" cellpadding="0">
                <tr>
                  {if condition="$v['address_default'] eq 1"}
                  <td rowspan="2"><input type="radio"  name="default" checked="checked" class="address_id" address_id="{$v.address_id}"></td>
                  {else/}
                  <td rowspan="2"><input type="radio" name="default" class="address_id" address_id="{$v.address_id}"></td>
                  {/if}
                  <td class="p_td" width="160">收件人名称</td>
                  <td width="395">{$v.address_name}</td>
                  <td class="p_td" width="160">电话</td>
                  <td width="395">{$v.address_tel}</td>
                </tr>
                <tr>
                  <td class="p_td">详细信息</td>
                  <td>{$v.address_desc}</td>
                  <td class="p_td">邮政编码</td>
                  <td>{$v.address_mail}</td>
                </tr>
              </table>
          </div>
          <br>
          {/volist}
        </div>
          <div class="two_t">
            支付方式
          </div>
          <ul class="pay">
              <li class="pay checked" pay_type="1">余额支付<div class="ch_img"></div></li>
              <li class="pay" pay_type="2">货到付款<div class="ch_img"></div></li>
              <li class="pay" pay_type="3">支付宝<div class="ch_img"></div></li>
          </ul>
          
          <div class="two_t">
            其他信息
          </div>
          <table border="0" class="car_tab" style="width:1110px;" cellspacing="0" cellpadding="0">
            <tr valign="top">
              <td align="right" style="padding-right:0;"><b style="font-size:14px;">订单附言：</b></td>
              <td style="padding-left:0;"><textarea class="add_txt" style="width:860px; height:50px;" id="order_text"></textarea></td>
            </tr>
            <tr>
              <td align="right" style="padding-right:0;"><b style="font-size:14px;">缺货处理：</b></td>
              <td>
                <label class="r_rad"><input type="checkbox" name="none" checked="checked" /></label><label class="r_txt" style="margin-right:50px;">等待所有商品备齐后再发</label>
                  <label class="r_rad"><input type="checkbox" name="none" /></label><label class="r_txt" style="margin-right:50px;">取下订单</label>
                  <label class="r_rad"><input type="checkbox" name="none" /></label><label class="r_txt" style="margin-right:50px;">与店主协商</label>
              </td>
            </tr>
          </table>
          
          <table border="0" style="width:900px; margin-top:20px;" cellspacing="0" cellpadding="0">
            <tr>
              <td align="right">

                  商品总价: <font color="#ff4e00">￥{$priceNum}</font>
              </td>
            </tr>
            <tr height="70">
              <td align="right">
                <b style="font-size:14px;">应付款金额：<span style="font-size:22px; color:#ff4e00;">￥{$priceNum}</span></b>
              </td>
            </tr>
            <tr height="70">
              <td align="right"><a href="javascript:;" id="orderAdd"><img src="__STATIC__/index/images/btn_sure.gif" /></a></td>
            </tr>
          </table>
      </div>
  </div>
	<!--End 第二步：确认订单信息 End-->
  <script>
    $(function () {
      layui.use('layer',function () {
        var layer=layui.layer;
        /*点击支付*/
        $(document).on('click','.pay',function () {
          var _this=$(this);
          _this.addClass('checked');
          _this.siblings().removeClass('checked');
        })
        /*
        点击提交
         */
        $("#orderAdd").click(function(){
          //获取商品id
          var _tr=$(".goods");
          var goods_id='';
          _tr.each(function(index){
            goods_id+=$(this).attr('goods_id')+',';
          })
          goods_id=goods_id.substr(0,goods_id.length-1);
          //收货地址id
          var address_id='';
          var _radio=$(".address_id");
          _radio.each(function(index){
            var _check=$(this).prop("checked");
            if(_check==true){
              address_id=$(this).attr('address_id');
            }
          })
          //支付方式获取
          var pay_type=$(".pay .checked").attr('pay_type');
          //留言
          var order_text=$("#order_text").val();
          $.post(
                  "{:url('Order/orderForm')}",
                  {goods_id:goods_id,address_id:address_id,pay_type:pay_type,order_text:order_text},
                  function(res){
                    if(res.code==1){
                      layer.msg(res.font,{icon:res.code,time:1000},function(){
                        location.href="{:url('Order/orderGoods')}";
                      })
                    }else{
                      layer.msg(res.font,{icon:res.code})
                    }
                  },'json'
          )
        })

      })
    })
  </script>